{% load static %}
<!-- Feadtued Categories -->

 <div class="categories">
  <div class="small-container categories-container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
            <img src="{% static 'image/pexels-ozgomz-1755386.jpg' %}" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-md-4 d-none d-md-block">
            <img src="{% static 'image/pexels-margarita-141441249-16008684.jpg' %}" class="img-fluid" alt="Image 2">
        </div>
        <div class="col-md-4 d-none d-md-block">
            <img src="{% static 'image/pexels-bananaaa36-15300927.jpg' %}" class="img-fluid" alt="Image 3">
        </div>
      </div>
  </div>
</div>


<!-- Featured Products -->

<div class="container featured-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for product in featured %}
        <div class="col-md-3 col-sm-6 product-item">
            <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.title }}">
                </a>
                <h6 class="mt-3">{{ product.name }}</h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><i class='bx bx-rupee'></i>{{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  
<div class="container latest-container">
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for product in latest %}
        <!-- Using Bootstrap's standard classes with a custom media query for the specific breakpoint -->
        <div class="col-md-3 col-sm-6 product-item">
            <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.title }}">
                </a>
                <h6 class="mt-3">{{ product.name  }}</h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><i class='bx bx-rupee'></i>{{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>