<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<form method="post">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: "{{razorpay_key}}",
            amount: "{{order.amount}}",
            currency: "INR",
            name: "{{order.user.username}}",   
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: "{{order.provider_order_id}}",
            callback_url: "{{callback_url}}",
            redirect: true,
            prefill: {
                name: "Gaurav Kumar",
                email: "gaurav.kumar@example.com",
                contact: "9999999999"
            },
            notes: {
                address: "Razorpay Corporate Office"
            },
            theme: {
                color: "#3399cc"
            }
        };

        var rzpl = new Razorpay(options);
        rzpl.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock content %}
</body>
</html>