
<footer class="foot">
    <section class="contact bg-light py-5">
        <div class="container">
            <div class="row g-4">
                <!-- First Column - Logo and Contact Info -->
                <div class="col-12 col-md-4 col-lg-3 mb-4">
                    <div class="first-info">
                        <a href="#" class="logo h3 text-dark text-decoration-none d-block mb-3">LOFT</a>
                        <p class="mb-2">1456 MG Road Garage Showroom,<br>NH 47, Ernakulam - 683106 · Opposite Metro Pillar</p>
                        <p class="mb-2">1234567891</p>
                        <p class="mb-3">loft5661@gmail.com</p>
                        
                        <div class="social-icons d-flex">
                            <a href="#" class="text-dark me-2"><i class='bx bxl-facebook fs-4'></i></a>
                            <a href="#" class="text-dark me-2"><i class='bx bxl-whatsapp fs-4'></i></a>
                            <a href="#" class="text-dark me-2"><i class='bx bxl-twitter fs-4'></i></a>
                            <a href="#" class="text-dark me-2"><i class='bx bxl-instagram fs-4'></i></a>
                            <a href="#" class="text-dark me-2"><i class='bx bxl-linkedin fs-4'></i></a>
                        </div>
                    </div>
                </div>
  
                <!-- Support Column -->
                <div class="col-6 col-md-4 col-lg-3">
                    <h6 class="text-uppercase mb-3">Support</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Contact</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">About Us</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Size Guide</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Shipping & Returns</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Privacy</a></li>
                    </ul>
                </div>
  
                <!-- Shop Column -->
                <div class="col-6 col-md-4 col-lg-3">
                    <h6 class="text-uppercase mb-3">Shop</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Men's Shopping</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Women's Shopping</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Kids' Shopping</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Discount</a></li>
                    </ul>
                </div>
  
                <!-- Company Column -->
                <div class="col-6 col-md-4 col-lg-3">
                    <h6 class="text-uppercase mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">About</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Blog</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Affiliate</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  
    <div class="end-text bg-light py-3">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Loft. All Rights Reserved. Designed By Loft.</p>
        </div>
    </div>
  </footer>